@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(0, 15, 4);
    font-family: 'Quicksand', sans-serif;
}

main {
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo area */

#logo {
    border-bottom: solid 3px white;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: rgb(28, 252, 218);
}

#logo .fa {
    color: white;
    font-size: 60pt;
}

h2 {
    padding: 0 0.7vw;
}

h1 {
    margin-bottom: 1vh;
}

/* <div> contenente i campi di ricerca ed i suoi risultati */

#stringhe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30vw;
    background: linear-gradient(45deg, rgb(0, 15, 4) 0%, rgb(1, 49, 0) 100%) padding-box,
                linear-gradient(90deg, rgb(0, 165, 61) 0%, rgb(28, 252, 218) 100%) border-box;
    border-radius: 12px;
    border: 4px solid transparent;
}

#searcher1, #searcher2 {
    padding: 1% 3%;
    border-radius: 20px;
}

label {
    margin-top: 1%;
}

span {
    color: rgb(28, 252, 218);
}

#btn {
    color: white;
    background-color: rgb(0, 165, 61);
    padding: 1% 3%;
    margin: 2%;
    border-radius: 20px;
}

.fa {
    padding: 0;
}

#btn:hover {
    background-color: rgb(28, 252, 218);
    color: black;
}

/* Se alla pressione del bottone i campi di ricerca sono vuoti,
verrà visualizzato questo h3 con una breve animazione */

h3 {
    color: red;
    padding-bottom: 1vh;
    animation: horizontal-shaking .35s .1s;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

/* <ul> in cui verranno aggiunti i risultati della ricarca (<li>)
e il contatore con il numero di risultati trovati (<p>) */

ul {
    list-style-type: none;
}

p, li {
    padding: 3%;
}

li {
    width: 100%;
    border-top: solid 1px rgb(28, 252, 218);
}

p {
    text-align: center;
    min-width: 200px;
    color: rgb(255, 255, 255);
    border-top: solid 3px rgb(28, 252, 218);
    font-weight: bold;
    text-decoration: underline;
}